.footer{
  min-height:345px;
}
.top-footer{
  min-height: 253px;
  background-color: #3a3e64;
}

.bottom-footer{
  min-height: 95px;
  background-color: #313454;
}

.address{
  opacity: 0.5;
  color: #ffffff;
  font-family: Raleway;
  font-size: 14px;
  font-weight: 400;
  line-height: 22.5px;
}

.fa-heart{
  color:  #e84545;
}