.our-workers{
  min-height: 700px;
}

.name{
  color: #2d3033;
  font: 400 22px Raleway, serif;
  margin-bottom: 10px;
  margin-top: 30px;
  text-align: left;
}

.job{
  color: #e84545;
  font: 400 13px Raleway, Serif;
  text-transform: uppercase;
  text-align: left;
}

.about-work{
  color: #6c7279;
  font: 400 14px Raleway, serif;
  line-height: 21px;
  margin-top: 30px;
  text-align: left;
}

.workers-list{
  margin-top: 40px;
  margin-bottom: 40px;
}