.welcome-section{
  width: 100%;
  min-height: 100vh;
  background: url("../img/header-bg.png") no-repeat center center;
  background-size: cover;
  .container {
    padding-top: 103px;
    max-width: 912px;
  }
}

.btn-find{
  margin-top: 71px;
}